$width:256px;

#sP{
	height:100%;
	overflow:hidden;
    position:absolute;
    right:0;
    left:0;
    box-shadow:0 0 3px #ccc;
    background:#fff;
    transition:all .3s;
 }
#sM{
    background:#fafafa;
	width: $width;
}

@media (min-width: 800px){
    .slideout-open #sP{
        right:$width;
    }
}
@media (max-width: 800px){
    .slideout-open #sP{
        transform: translate3d(-$width, 0, 0);
    }
}
