#sP{
	height:100%;
	overflow:hidden;
    position:absolute;
    right:0;
    left:0;
    box-shadow:0 0 3px #ccc;
    background:#fff;
    transition:all .3s;
 }
#sM{
    background:#fafafa;
}
.slideout-open #sP{
    right:256px;
}
