
#topbar{
    border-bottom:1px solid #ddd;
    padding-left:25px;
    h1{
        font-size:32px;
        font-family:'bg';
    }
    height:79px;
    .logo{
		width: 44px;
		height: 32px;
		float: left;
		background: url(/cloud.svg) 0 0/cover no-repeat;
		margin-top: 21px;
		margin-right: 18px;

	}
}
#sP>.main{
    position:absolute;
    bottom:0;
    top:80px;
    width:100%;
}
.slideoutBtnW{
    right:76px;
    top:15px;
    position:absolute;
}
.authBk{
    width:30%;
    margin:auto;
    min-width:300px;
    text-align:center;
    .txt{
        margin-bottom:48px;
        font-size:28px;
        font-weight:200;
    }
}
a.authBtn{
    display:block;
    color:#000;
    font-weight:200;
    border:1px solid #000;
    padding:24px 64px;
    text-align:center;
    margin:24px 0;
    font-size:18px;
}
