
#topbar{
    border-bottom:1px solid #ddd;
    padding-left:25px;
    h1{
        font-size:32px;
        font-family:'bg';
    }
    .logo{
		width: 44px;
		height: 32px;
		float: left;
		background: url(/cloud.svg) 0 0/cover no-repeat;
		margin-top: 21px;
		margin-right: 18px;

	}
}
.slideoutBtnW{
    right:76px;
    top:15px;
    position:absolute;
}
