scss:
    body{
        h1{
            background-color: #eee;
            color: red;
            transform: translate(10%, 10%);
        }
        h1:hover{
            height:100px;
        }
        h2{
            background-color: #999;
        }
    }

coffee:
    module.exports = {
        el:"#app"
        data: ->
            {
                name:"guowenfh",
                age:"2q1"
            }
    }

template
    div
    	h1 姓名：{{name}}
        h2 {{age}}
