$width:256px;
.sPw, #sP{
    height:100%;
    overflow:hidden;
    position:absolute;
    right:0;
    left:0;
}
#sP{
    background:#fff;
    transition:all .2s;
 }
#sM{
    box-shadow:5px 0 5px -5px #ccc inset;
    background:#fafafa;
	width: $width;
}

@media (min-width: 800px){
    .slideout-open #sP{
        right:$width;
    }
}
@media (max-width: 799px){
    .slideout-open{
        #sP{
            transform: translate3d(-$width, 0, 0);
            opacity:0.9;
        }
        body{background:#000;}
    }
}
