$width:256px;
.sPw, #sP{
    height:100%;
    overflow:hidden;
    position:absolute;
    right:0;
    left:0;
}
#sP{
    background:#fff;
    transition:all .2s;
 }
#sM{
    box-shadow:4px 0 4px -4px #eee inset;
    background:#fff;
	width: $width;
}

.slideout-open{
	#sP{
		transform: translate3d(-$width, 0, 0);
		opacity:0.9;
	}
}
#ms-body{
background:#888;
}
