module.exports = {
    PORT: 20032
    DEBUG: 1
    PSQL : {
        PORT:30009
        USER:""
        HOST:"127.0.0.1"
        DATABASE:""
        PASSWORD:""
    }
    WDOG:{
        SECRET:""
    }
}
